.expert-main-container {
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  margin: 30px auto;
  .main-container__wrapper {
    padding: 20px;
    .card__image {
      height: 200px;
      width: 290px;
      float: left;
      margin-right: 30px;
    }
    .card__right-message__container {
      float: left;
      margin: 20px 20px 0 20px;
      .member-infomation__content {
        margin-bottom: 20px;
        .member__head-title {
          width: 100px;
          color: $member-color;
          border-bottom: 1px solid
        }
        .member__body-message {
          color: $head-font-color;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
    .card__bottom-message__container {
      clear: both;
      .member-infomation {
        float: left;
        display: flex;
        &__content {
          // margin-top: 20px;
          // width: 100px;
          .member__head-title {
            width: 100px;
            color: $member-color;
            border-bottom: 1px solid;
            margin: 20px 20px 0 20px;
          }
          .member__body-message {
            color: $head-font-color;
            font-weight: bold;
            font-size: 20px;
            margin: 0 20px 20px 20px;
          }
        }
      }
      .member_btn__wrapper {
        float: right;
        display: flex;
        .member_private__btn {
          // float: left;
          display: block;
          width: 100px;
          height: 50px;
          line-height: 50px;
          color: #ffffff;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          margin: 20px 0 0px 20px;
        }
        .edit {
          background-color: $btn-color__blue;
        }
        .delete {
          background-color: $require-red;
        }
      }
      .member-introduction__content {
        clear: both;
        color: $head-font-color;
        border: 1px solid;
        min-height: 150px;
      }
      .expert-return__btn {
        @include btn;
      }
    }
  }
}