// $main-color: #69788b;
$main-color: #444444;
// $member-color: #879aad;
$member-color: #08A082;
$require-red: #c30d0d;
$success-green: rgb(32, 144, 32);
$head-font-color: #4c5765;
$btn-color__blue: rgb(46, 47, 97);
