.header {
  float: left;
  width: calc(100% - 40px);
  background-color: #232A34;
  // background-color: #4c5765;
  padding: 20px;
  border-bottom: solid 5px #354150e3;
  &__left-box {
    float: left;
    .header__title {
      font-size: 30px;
      text-decoration: none;
      @include main-font;
    }
  }
  &__right-box {
    float: right;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .sign-in__btn {
      @include user_btn;
      @include main-font;
      text-decoration: none;
    }
    .sign-out__btn {
      @include user_btn;
      @include main-font;
      margin-left: 20px;
      text-decoration: none;
    }
    .sign-up__btn {
      @include user_btn;
      @include main-font;
      margin-left: 20px;
      text-decoration: none;
    }
    .edit__btn {
      @include user_btn;
      @include main-font;
      margin-left: 20px;
      text-decoration: none;
    }
  }
}