.member-board {
  width: calc(100vw - 260px);
  // height: calc(100vh - 115px);
  background-color: #ffffff;
  // background-color: $main-color;
  float: left;
  .members {
    height: calc(100vh - 115px);
    padding: 20px 40px 0 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    .member {
      height: 290px;
      width: 290px;
      border: solid 2px $main-color;
      margin: 0 30px 30px 0;
      padding: 10px;
      text-decoration: none;
      &__image {
        height: 200px;
        width: 290px;
      }
      &__info {
        .nickname {
          color: $member-color;
        }
        .expert {
          color: $member-color;
        }
        .career {
          color: $member-color;
        }
      }
    }
    .member-plus__btn {
      position: fixed;
      height: 120px;
      width: 120px;
      border: solid 2px $member-color;
      margin: 0 30px 30px 0;
      padding: 10px;
      text-decoration: none;
      bottom: 50px;
      right: 50px;
      border-radius: 20px;
      background-color: $member-color;
      .plus__btn-icon {
        // float: left;
        display: block;
        line-height: 120px;
        height: 120px;
        width: 120px;          
        text-align: center;
        color: white;
      }
    }
  }
}