.side_bar {
  // height: calc(100vh - 115px);
  width: 260px;
  background-color: $main-color;
  // padding: 20px 20px 0 20px;
  overflow: scroll;
  float: left;
  .contents {
    float: left;
    &__title {
      background-color: #232A34;
      height: 30px;
      font-size: 20px;
      @include main-font;
      padding: 10px 0 10px 10px;
    }
    .content {
      float: left;
      width: 250px;
      height: 50px;
      padding: 5px 0 5px 10px;
      text-decoration: none;
      color: $main-color;
      &__name {
        @include main_font;
        line-height: 50px;
      }
      &__number {
        @include main_font;
      }
      &:hover {
        background-color: #5A5F67;
      }
    }
  }
}