.wrapper
  = render "shared/header"
  = render "shared/side_bar"    
  .member-board                
    .members
      = render partial: "expert", collection: @experts
      = render "modules/new-btn_icon"
