.wrapper
  = render "shared/header"
  = render "shared/side_bar"    
  .member-board                
    .members
      = link_to new_expert_path, class: "member-plus__btn" do
        .plus__btn-message
          ＋　カードを追加する
      = render partial: "expert", collection: @experts