= render "shared/header"
.main-content
  .expert-main-container
    .main-container__wrapper
      = image_tag "ques.jpg", class: "card__image"
      .card__right-message__container
        .member-infomation__content
          .member__head-title
            Nickname
          .member__body-message
            kamiya-s-max
        .member-infomation__content
          .member__head-title
            Contact
          .member__body-message
            kamiya123@gmail.com
      .card__bottom-message__container
        .member-infomation
          .member-infomation__content
            .member__head-title
              Specialty
            .member__body-message
              サバゲー
          .member-infomation__content
            .member__head-title
              Career
            .member__body-message
              １ヶ月未満
        .member-introduction__content
          よろしくお願いします。あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        =link_to "/", class: "expert-return__btn" do
          return

      -# - if expert.user.avatar
      -#   = image_tag expert.user.avatar, class: "member__image"
      -# - else
      -#   = image_tag "ques.jpg", class: "member__image"
      